{ 
    "extends": "../../.eslintrc", 
    "rules": {
        "@typescript-eslint/no-explicit-any": "off",
        "@typescript-eslint/no-unused-vars": "off"
    }, 
    "ignorePatterns": ["!**/*"] 
}
