a {
  .arrow {
    display: inline-block;
    opacity: 0;
    transform: scale(0.5);
    transition: all 0.3s;
  }
  span {
    display: inline-block;
    padding-left: 5px;
    transform: translateX(-0.875em); // size of icon
    transition: transform 0.3s;
  }
}

.workshoptitle{
  text-decoration: none;
}

a:hover {
  fa-icon {
    opacity: 1;
    transform: scale(1);
  }
  span {
    transform: translateX(0);
  }
}
