[Oo]bj/
[Bb]in/
TestResults/
.nuget/
*.sln.ide/
_ReSharper.*/
artifacts/
PublishProfiles/
*.user
*.suo
*.cache
*.docstates
_ReSharper.*
nuget.exe
*net45.csproj
*net451.csproj
*k10.csproj
*.psess
*.vsp
*.pidb
*.userprefs
*DS_Store
*.ncrunchsolution
*.*sdf
*.ipch
*.sln.ide
debugSettings.json
buildlog
/.vs
*.lock.json
/omnisharp*.tar.gz
scripts/Omnisharp*
.msbuild-*/
.msbuild/

# NuGet
*.nuget.targets

# Build folder
.dotnet/
.dotnet-legacy/
.dotnet-future/
.mono/
tools/*
!tools/packages.config

# Test assets
test-assets/**/tools/*
!test-assets/**/tools/packages.config

# VS Code
/.vscode/settings.json
/.vscode/launch.json

# VS
launchSettings.json

# Rider
.idea/
test-assets/**/nugets
*.binlog
