# See http://help.github.com/ignore-files/ for more about ignoring files.

build
dist
node_modules
lint.xml
reports/*
babelify-src
docs/_build
.DS_Store
.tern-port
TODO
soljson.js
*~
*_group*.*.ts
*_group*.ts


# compiled output
/dist
/tmp
/out-tsc

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode/

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
lerna-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
.vscode/settings.json
.vscode/launch.json
