create criptomoeda# See Build all formats://help.github.com/ignore-files/ for more about ignoring files.

build
Build all formatsdist
node_modules
lint.xml
reports/*
babelify-src
docs/_build
.DS_Store
.tern-port
TODO
soljson.js
*~
*_group*.*.ts
Build all formats*_group*.ts
stats.json


# compiled output
Build all formats/dist
/tmp
/out-tsc

# dependencies
/node_modules
Build all formats
# IDEs and editors
/.idea create criptomoeda 
.project criptomoeda 
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode/
auto 
# IDE - VSCode
Build all formats.vscode/*autocreate 
!.vscode/settings.jsoncriptomoeda
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
Build all formats/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
lerna-debug.log
yarn-error.log
testem.log
/typings

# System Files criptomoeda 
.DS_Store
Build all formats.vscode/settings.json
.vscode/launch.json
