# Javascript Node CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-javascript/ for more details
#
version: 2
jobs:
  remix-lib:
    docker:
        - image: circleci/node:9.11.2
    environment:
    working_directory: ~/repo
    steps:
      - checkout
      - run: npm install && npm run bootstrap
      - run: cd remix-lib && npm test

  remix-debug:
     docker:
        - image: circleci/node:9.11.2
     environment:
     working_directory: ~/repo
     steps:
      - checkout
      - run: npm install && npm run bootstrap
      - run: cd remix-debug && npm test
 
  remix-analyzer:
    docker:
        - image: circleci/node:9.11.2
    environment:
    working_directory: ~/repo
    steps:
      - checkout
      - run: npm install && npm run bootstrap
      - run: cd remix-analyzer && npm test
   
  remix-tests:
    docker:
        - image: circleci/node:9.11.2
    environment:
    working_directory: ~/repo
    steps:
      - checkout
      - run: npm install && npm run bootstrap
      - run: cd remix-tests && npm test
  
  remix-simulator:
    docker:
        - image: circleci/node:9.11.2
    environment:
    working_directory: ~/repo
    steps:
      - checkout
      - run: npm install && npm run bootstrap
      - run: cd remix-simulator && npm test
   

workflows:
  version: 2
  build_all:
    jobs:
      - remix-lib
      - remix-debug
      - remix-analyzer
      - remix-tests
      - remix-simulator
