body {
    font-size          : .8rem;
}
.circuit_section {
    padding: 12px 24px 16px;
}
.circuit_label {
    margin-bottom: 2px;
    font-size: 11px;
    line-height: 12px;
    text-transform: uppercase;
}
.circuit_warnings_box {
    display: flex;
    align-items: center;
}
.circuit_warnings_box label {
    margin: 0;
}
.circuit_config_section:hover {
    cursor: pointer;
}
.circuit_config_section {
    font-size: 1rem;
}
.circuit_config {
    display: flex;
    align-items: center;
}
.circuit_config label {
    margin: 0;
}
.circuit_inner_label {
    margin-bottom: 2px;
    font-size: 11px;
    line-height: 12px;
    text-transform: uppercase;
}
.circuit_errors_box {
    word-break: break-word;
}
.circuit_feedback.success,
.circuit_feedback.error,
.circuit_feedback.warning {
  white-space: pre-line;
  word-wrap: break-word;
  cursor: pointer;
  position: relative;
  margin: 0.5em 0 1em 0;
  border-radius: 5px;
  line-height: 20px;
  padding: 8px 15px;
}

.circuit_feedback.success pre,
.circuit_feedback.error pre,
.circuit_feedback.warning pre {
  white-space: pre-line;
  overflow-y: hidden;
  background-color: transparent;
  margin: 0;
  font-size: 12px;
  border: 0 none;
  padding: 0;
  border-radius: 0;
}

.circuit_feedback.success .close,
.circuit_feedback.error .close,
.circuit_feedback.warning .close {
  visibility: hidden;
  white-space: pre-line;
  font-weight: bold;
  position: absolute;
  color: hsl(0, 0%, 0%); /* black in style-guide.js */
  top: 0;
  right: 0;
  padding: 0.5em;
}

.circuit_feedback.success a,
.circuit_feedback.error a,
.circuit_feedback.warning a {
  bottom: 0;
  right: 0;
}
.custom-dropdown-items {
    padding: 0.25rem 0.25rem;
    border-radius: .25rem;
    background: var(--custom-select);
}
.custom-dropdown-items a {
    border-radius: .25rem;
    text-transform: none;
    text-decoration: none;
    font-weight: normal;
    font-size: 0.875rem;
    padding: 0.25rem 0.25rem;
    width: auto;
    color: var(--text);
}
