body {
    padding: 0px;
    font-size: 12px;
    color: #111111;
    font-weight: normal;
}
#editor {

    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    bottom: 0;
    right: 37em;
}


.scroller {
    position: absolute;
    z-index: 999;
    text-align: center;
    cursor: pointer;
    display: none;
    padding: 0 0.9em;
    vertical-align: middle;
    background-color: rgba(255,255,255,0.8);
    height: 100%;
    font-size: 1.3em;
}

.scroller i {
    line-height: 3em;
}

.scroller-right {
    right: 0;
}

.scroller-left {
    left: 0;
}

.files-wrapper {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 3em;
    right: 3em;
}

#files {
    list-style: none;
    margin: 0;
    font-size: 15px;
    height: 2.5em;
    box-sizing: border-box;
    line-height: 2em;
    padding: 0.5em 0 0;
    position: relative;
    left: 0;
    top:0;
    min-width:3000px;
    border-bottom: 0 none;
}

#files .file {
    display: inline-block;
    padding: 0 0.6em;
    box-sizing: border-box;
    background-color: #F4F6FF;
    cursor: pointer;
    border-right: 0.5em solid white;
    position: relative;
    display:table-cell;
    text-align: center;
    vertical-align: middle;
    color: #999;
}

.newFile,
.toggleRHP {
    display: block;
    float: left;
    margin-top: 0.5em;
    padding: 0.6em;
    font-weight: bold;
    cursor: pointer;
    color: black;
}

.toggleRHP {
    float: right;
    position: absolute;
    right: 0;
}

#files .file.active {
    color: black;
    font-weight: bold;
    border-bottom: 0 none;
    padding-right: 2em;
}
#files .file .remove {
    position: absolute;
    right: 0;
    top: 0;
    height: 1.25em;
    width: 1.25em;
    line-height: 1em;
    color: #FF8080;
    display: none;
    margin: 0.4em;
    text-align: center;
}

#files .file input {
    background-color: transparent;
    border: 0 none;
    border-bottom: 1px dotted black;
    line-height: 1em;
    margin: 0.5em 0;
}

#files .file.active .remove { display: inline-block; }

#input {
    border-top: 3px solid #F4F6FF;
    padding-top: 0.5em;
    font-size: 15px;
    position: absolute;
    top: 2.5em;
    left: 0;
    right: 0;
    bottom: 0;
    min-width: 20vw;
}

#righthand-panel {
    position: absolute;
    top: 0;
    width: 37em;
    max-width: 80vw;
    right: 0;
    bottom: 0px;
    overflow: auto;
    box-sizing: border-box;
}

#output {
    display: block;
}

#header {
    font-size: 12px;
}

#header #solIcon {
    float: right;
    height: 100%;
    background-color: white;
}

#header #menu {
    border-bottom: 3px solid #F4F6FF;
    overflow: hidden;
    height: 2em;
    font-size: 1.25em;
    padding-top: 0.5em;
    box-sizing: content-box;
}


#header #options {
    list-style: none;
    margin: 0;
    padding: 0;
}

#header #options li {
    float: left;
    padding: 0.5em 0.6em;
    font-size: 1em;
    cursor: pointer;
    background-color: transparent;
    margin-right: 0.5em;
}

#header #options li.active {
    background-color: #F4F6FF;
}

#header #options li a {
    color: inherit;
}

#header #optionViews {
    clear: both;
    overflow: auto;
    background-color: #F4F6FF;
}
#header #optionViews > div {
    display: none;
    padding: 1em 0.5em 0.5em;
}
#header #optionViews.txView #txView { display: block; }
#header #optionViews.settingsView #settingsView { display: block; }
#header #optionViews.publishView #publishView { display: block; }
#header #optionViews.envView #envView { display: block; }

#header #optionViews.txView input,
#header #optionViews.txView select {
    max-width: 13em;
    padding: 0.3em;
    box-sizing: border-box;
    border: 1px solid rgba( 0,0,0,0.3 );
    border-radius: 3px;
}

#header #optionViews .pre {
    word-wrap: break-word;
    background-color: #C6CFF7;
    font-family: monospace;
    border-radius: 3px;
    display: inline-block;
    padding: 0 0.6em;
}

#header #optionViews .hide {
    display: none;
}

#header .info {
    font-family: monospace;
    min-height: 6em;
    padding: 0.25em 0;
    padding-left: 6em;
}

#publishView button {
    background-color: #C6CFF7;
    font-size: 12px;
    padding: 0.25em;
    margin-bottom: .5em;
    color: black;
    border:0 none;
    border-radius: 3px;
    width: 8em;
    margin-right: 1em;
    cursor: pointer;
}


#header .origin,
#header #executionContext {
    display: block;
    word-wrap: break-word;
}

#header #versionSelector {
    border: 0 none;
    font-family: monospace;
    background-color: transparent;
}

.col1 {
    width: 30%;
    float: left;
}
.col2 {
    width: 70%;
    float: left;
}

.contract.hide {
    padding-bottom: 0;
}

.contract.hide {
    margin: 0;
}

.contract.hide > *:not(.title) {
    display: none;
}

.udapp .contract > .title {
    cursor:pointer;
}

.udapp .contract > .title:before {
    content: "\25BC";
    opacity: 0.5;
    margin-right: 0.4em;
    font-size: 10px;
}

.contract.hide > .title:before {
    content: "\25B6";
}

#output .poweredBy,
#output .legend { display: none; }

#output .udapp {
    border: 0 none;
    box-shadow: none;
    border-bottom: 3px solid #F4F6FF;
}


.crow {
    overflow: auto;
    display: block;
    clear: both;
    margin: 0.5em;
}

.gethDeployText {
    border-color: #bebebe;
    height: 2.5em;
    width: 100%;
    display: block;
}

.contractDetails button {
    background-color: transparent;
    border: 0 none;
    padding: 0;
    display: inline-block;
    text-decoration: underline;
    color: blue;
    cursor: pointer;
    width: auto;
    min-width: 4em;
    margin-bottom: 1em;
}


.sol.error,
.sol.warning {
    border-radius: 0;
    word-wrap: break-word;
    cursor: pointer;
    position: relative;
    margin: 0.5em;
    border-radius: 0.6em;
    padding: 1em 1.5em;
}

.sol.error pre,
.sol.warning pre {
    background-color: transparent;
    margin: 0;
    font-size: 10px;
    border: 0 none;
    padding: 0;
    border-radius: 0;
}

.sol.error .close,
.sol.warning .close {
    font-weight: bold;
    position: absolute;
    color: rgba(0,0,0,0.5);
    top: 0;
    right: 0;
    padding: 0.5em;
}

.sol.error {
    background-color: rgba(255, 0, 0, 0.4);
}

.sol.warning {
    background-color: rgba(210, 202, 36, 0.4);
}

#ghostbar {
    width: 1px;
    background-color: red;
    opacity: 0.5;
    position: absolute;
    cursor: col-resize;
    z-index: 9999;
    top: 0;
    bottom: 0;
}

#dragbar {
    background-color: transparent;
    position: absolute;
    width: 1em;
    right: -3px;
    top: 3em;
    bottom: 0;
    cursor: col-resize;
    z-index: 999;
    border-right: 3px solid #F4F6FF;
}

#editor .ace-tm .ace_gutter,
#editor .ace-tm .ace_gutter-active-line,
#editor .ace-tm .ace_marker-layer .ace_active-line {
    background-color: rgba(225, 229, 251, 0.5);
}

input[readonly] {
    padding: .4em;
    border: 1px solid #ccc;
    box-sizing: border-box;
    display: block;
    width: 100%;
}
