#files .file {
    padding: 0 0.6em;
    box-sizing: border-box;
    background-color: #F4F6FF;
    cursor: pointer;
    border-right: 0.5em solid white;
    position: relative;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    color: #999;
}

#files .file.active {
    color: black;
    font-weight: bold;
    border-bottom: 0 none;
    padding-right: 2em;
}
#files .file .remove {
    position: absolute;
    right: 0;
    top: 0;
    height: 1.25em;
    width: 1.25em;
    line-height: 1em;
    color: #FF8080;
    display: none;
    margin: 0.4em;
    text-align: center;
}

#files .file input {
    background-color: transparent;
    border: 0 none;
    border-bottom: 1px dotted black;
    line-height: 1em;
    margin: 0.5em 0;
}

#files .file.active .remove {
    display: inline-block;
}

#header {
    font-size: 13px;
    height: 100%;
}

#header #solIcon {
    float: right;
    height: 90%;
    background-color: white;
    padding-right: 1%;
}

#header #menu {
    border-bottom: 3px solid #F4F6FF;
    height: 2em;
    font-size: 1em;
    padding-top: 0.5em;
    box-sizing: content-box;
}

#header #options {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

#header #options li.active {
    background-color: #F4F6FF;
}

#header #options li a {
    color: inherit;
}

#header #optionViews {
    clear: both;
    overflow: auto;
    background-color: #F4F6FF;
    height: 100%;
}

#header #optionViews > div {
    display: none;
}

#header #optionViews.txView #txView {
    display: block;
}

#header #optionViews.settingsView #settingsView {
    display: block;
}

#header #optionViews.publishView #publishView {
    display: block;
}

#header #optionViews.envView #envView {
    display: block;
}

#header #optionViews.debugView #debugView {
    display: block;
}

#header #optionViews.verificationView #verificationView {
    display: block;
}

#header #optionViews.staticanalysisView #staticanalysisView {
    display: block;
}

#header #optionViews.txView input,
#header #optionViews.txView select {
    max-width: 13em;
    padding: 0.3em;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 3px;
}

#header #optionViews .pre {
    word-wrap: break-word;
    background-color: rgba(255, 255, 255, 0.5);
    font-family: monospace;
    border-radius: 3px;
    display: inline-block;
    padding: 0 0.6em;
}

#header #optionViews .hide {
    display: none;
}

#header .info {
    font-family: monospace;
    min-height: 6em;
    padding: 0.25em 0;
    padding-left: 6em;
}

#settingsView button {
    background-color: #C6CFF7;
    font-size: 12px;
    padding: 0.25em;
    margin: 3em 1em .5em 0;
    color: black;
    border:0 none;
    border-radius: 3px;
    width: 8em;
    cursor: pointer;
}

#publishView button {
    background-color: #C6CFF7;
    font-size: 12px;
    margin-bottom: .5em;
    color: black;
    border:0 none;
    border-radius: 3px;
    width: 8em;
    height: 20px;
    margin-right: 1em;
    cursor: pointer;
}

#staticanalysisView button {
    background-color: #C6CFF7;
    font-size: 12px;
    padding: 0.25em;
    margin: 2em 1em .5em 0;
    color: black;
    border:0 none;
    border-radius: 3px;
    width: 8em;
    cursor: pointer;
}

#debugView button {
    background-color: #C6CFF7;
    font-size: 12px;
    padding: 0.25em;
    margin-bottom: .5em;
    color: black;
    border:0 none;
    border-radius: 3px;
    width: 8em;
    margin-right: 1em;
    cursor: pointer;
}

#staticanalysismodules label {
    display: block;
}

#header .origin {
    display: block;
    word-wrap: break-word;
    padding: 1.5em;
    font-weight: bold;
}

#header #versionSelector {
    text-decoration: none;
    background-color: #C6CFF7;
    cursor: pointer;
    font-size: 12px;
    color: black;
    border-radius: 3px;
    border: 0 none;
}

.contract.hidesub {
    padding-bottom: 0;
    margin: 0;
}

.contract.hidesub > *:not(.title) {
    display: none;
}

.contract.hidesub > .title:before {
    content: "\25B6";
}

#output .udapp {
    border: 0 none;
    box-shadow: none;
    border-bottom: 3px solid #F4F6FF;
}

.crow {
    overflow: auto;
    display: block;
    clear: both;
    margin: .5em .5em 0 .5em;
    padding: .5em;
    font-weight: bold;
}

.crow #txorigin {
    margin-left: 0.5em;
    text-decoration: none;
    background-color: #C6CFF7;
    cursor: pointer;
    font-size: 12px;
    color: black;
    border-radius: 3px;
    border: 0 none;
}

.contractDetails button {
    background-color: transparent;
    border: 0 none;
    padding: 0;
    display: inline-block;
    text-decoration: underline;
    color: blue;
    cursor: pointer;
    width: auto;
    min-width: 4em;
    margin-bottom: 1em;
}

.sol.error,
.sol.warning {
    word-wrap: break-word;
    cursor: pointer;
    position: relative;
    margin: 0.5em 0 1em 0;
    border-radius: 5px;
    line-height: 20px;
    padding: 8px 15px;
}

.sol.error pre,
.sol.warning pre {
    background-color: transparent;
    margin: 0;
    font-size: 10px;
    border: 0 none;
    padding: 0;
    border-radius: 0;
}

.sol.error .close,
.sol.warning .close {
    font-weight: bold;
    position: absolute;
    color: rgba(0, 0, 0, 0.5);
    top: 0;
    right: 0;
    padding: 0.5em;
}

.sol.error {
    background-color: hsla(0, 100%, 75%, 0.1);
    border: .2em dotted #FF8080;
}

.sol.warning {
    background-color: hsla(59, 56%, 78%, 0.5);
    border: .2em dotted #ffbd01;
}

input[readonly] {
    display: block;
    width: 100%;
    height: 7px;
    padding: .8em;
}

input[type="file"] {
    display: none;
}

.highlightcode {
    position:absolute;
    z-index:20;
    background-color:#F77E79;
}

.highlightcode_fullLine {
    position:absolute;
    z-index:20;
    background-color:#F4B9B7;
    opacity: 0.5;
}

.ace_gutter-cell.ace_breakpoint{
    background-color: #F77E79;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 6; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Header */
.modal-header {
    padding: 2px 16px;
    background-color: orange;
    color: white;
}

/* Modal Body */
.modal-body {padding: 2px 16px;}

/* Modal Footer */
.modal-footer {
    padding: 2px 16px;
    background-color: orange;
    color: white;
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

#modal-footer-cancel {
    margin-left: 1em;
    cursor: pointer;
}

#modal-footer-ok {
    cursor: pointer;
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top: -300px; opacity: 0} 
    to {top: 0; opacity: 1}
}

@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}
