html { box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit; }

body {
    padding: 0;
    font-size: 12px;
    color: #111111;
    font-weight: normal;
}

#editor {
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    bottom: 0;
    right: 37em;
}

.scroller {
    position: absolute;
    z-index: 999;
    text-align: center;
    cursor: pointer;
    display: none;
    padding: 0 0.9em;
    vertical-align: middle;
    background-color: rgba(255, 255, 255, 0.8);
    height: 100%;
    font-size: 1.3em;
}

.scroller i {
    line-height: 3em;
}

.scroller-right {
    right: 0;
}

.scroller-left {
    left: 0;
}

#tabs-bar {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 200px;
    right: 3em;
}

#files {
    list-style: none;
    margin: 0;
    font-size: 15px;
    height: 2.5em;
    box-sizing: border-box;
    line-height: 2em;
    padding: 0.5em 0 0;
    position: relative;
    left: 0;
    top:0;
    min-width:3000px;
    border-bottom: 0 none;
}

#files .file {
    padding: 0 0.6em;
    box-sizing: border-box;
    background-color: #F4F6FF;
    cursor: pointer;
    border-right: 0.5em solid white;
    position: relative;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    color: #999;
}

.toggleRHP {
    display: block;
    float: left;
    margin-top: 0.5em;
    padding: 0.6em;
    font-weight: bold;
    cursor: pointer;
    color: black;
}

.toggleRHP {
    float: right;
    position: absolute;
    right: 0;
}

#files .file.active {
    color: black;
    font-weight: bold;
    border-bottom: 0 none;
    padding-right: 2em;
}
#files .file .remove {
    position: absolute;
    right: 0;
    top: 0;
    height: 1.25em;
    width: 1.25em;
    line-height: 1em;
    color: #FF8080;
    display: none;
    margin: 0.4em;
    text-align: center;
}

#files .file input {
    background-color: transparent;
    border: 0 none;
    border-bottom: 1px dotted black;
    line-height: 1em;
    margin: 0.5em 0;
}

#files .file.active .remove {
    display: inline-block;
}

#righthand-panel {
    position: absolute;
    top: 0;
    width: 37em;
    max-width: 80vw;
    right: 0;
    bottom: 0;
    overflow: auto;
    box-sizing: border-box;
}

#header {
    font-size: 13px;
    height: 100%;
}

#header #solIcon {
    float: right;
    height: 90%;
    background-color: white;
    padding-right: 1%;
}

#header #menu {
    border-bottom: 3px solid #F4F6FF;
    overflow: hidden;
    height: 2em;
    font-size: 1em;
    padding-top: 0.5em;
    box-sizing: content-box;
}

#header #options {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

#header #options li.active {
    background-color: #F4F6FF;
}

#header #options li a {
    color: inherit;
}

#header #optionViews {
    clear: both;
    overflow: auto;
    background-color: #F4F6FF;
    height: 100%;
}

#header #optionViews > div {
    display: none;
}

#header #optionViews.txView #txView {
    display: block;
}

#header #optionViews.settingsView #settingsView {
    display: block;
}

#header #optionViews.publishView #publishView {
    display: block;
}

#header #optionViews.envView #envView {
    display: block;
}

#header #optionViews.debugView #debugView {
    display: block;
}

#header #optionViews.verificationView #verificationView {
    display: block;
}

#header #optionViews.staticanalysisView #staticanalysisView {
    display: block;
}

#header #optionViews.txView input,
#header #optionViews.txView select {
    max-width: 13em;
    padding: 0.3em;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 3px;
}

#header #optionViews .pre {
    word-wrap: break-word;
    background-color: rgba(255, 255, 255, 0.5);
    font-family: monospace;
    border-radius: 3px;
    display: inline-block;
    padding: 0 0.6em;
}

#header #optionViews .hide {
    display: none;
}

#header .info {
    font-family: monospace;
    min-height: 6em;
    padding: 0.25em 0;
    padding-left: 6em;
}

#settingsView button {
    background-color: #C6CFF7;
    font-size: 12px;
    padding: 0.25em;
    margin: 3em 1em .5em 0;
    color: black;
    border:0 none;
    border-radius: 3px;
    width: 8em;
    cursor: pointer;
}

#publishView button {
    background-color: #C6CFF7;
    font-size: 12px;
    margin-bottom: .5em;
    color: black;
    border:0 none;
    border-radius: 3px;
    width: 8em;
    height: 20px;
    margin-right: 1em;
    cursor: pointer;
}

#staticanalysisView button {
    background-color: #C6CFF7;
    font-size: 12px;
    padding: 0.25em;
    margin: 2em 1em .5em 0;
    color: black;
    border:0 none;
    border-radius: 3px;
    width: 8em;
    cursor: pointer;
}

#debugView button {
    background-color: #C6CFF7;
    font-size: 12px;
    padding: 0.25em;
    margin-bottom: .5em;
    color: black;
    border:0 none;
    border-radius: 3px;
    width: 8em;
    margin-right: 1em;
    cursor: pointer;
}

#staticanalysismodules label {
    display: block;
}

#header .origin {
    display: block;
    word-wrap: break-word;
    padding: 1.5em;
    font-weight: bold;
}

#header #versionSelector {
    text-decoration: none;
    background-color: #C6CFF7;
    cursor: pointer;
    font-size: 12px;
    color: black;
    border-radius: 3px;
    border: 0 none;
}

#formalVerificationInput {
    height: 4.5em;
    width: 100%;
}

.contract.hidesub {
    padding-bottom: 0;
    margin: 0;
}

.contract.hidesub > *:not(.title) {
    display: none;
}

.contract.hidesub > .title:before {
    content: "\25B6";
}

#output .udapp {
    border: 0 none;
    box-shadow: none;
    border-bottom: 3px solid #F4F6FF;
}

.crow {
    overflow: auto;
    display: block;
    clear: both;
    margin: .5em .5em 0 .5em;
    padding: .5em;
    font-weight: bold;
}

.crow #txorigin {
    margin-left: 0.5em;
    text-decoration: none;
    background-color: #C6CFF7;
    cursor: pointer;
    font-size: 12px;
    color: black;
    border-radius: 3px;
    border: 0 none;
}

.contractDetails button {
    background-color: transparent;
    border: 0 none;
    padding: 0;
    display: inline-block;
    text-decoration: underline;
    color: blue;
    cursor: pointer;
    width: auto;
    min-width: 4em;
    margin-bottom: 1em;
}

.sol.error,
.sol.warning {
    word-wrap: break-word;
    cursor: pointer;
    position: relative;
    margin: 0.5em 0 1em 0;
    border-radius: 5px;
    line-height: 20px;
    padding: 8px 15px;
}

.sol.error pre,
.sol.warning pre {
    background-color: transparent;
    margin: 0;
    font-size: 10px;
    border: 0 none;
    padding: 0;
    border-radius: 0;
}

.sol.error .close,
.sol.warning .close {
    font-weight: bold;
    position: absolute;
    color: rgba(0, 0, 0, 0.5);
    top: 0;
    right: 0;
    padding: 0.5em;
}

.sol.error {
    background-color: hsla(0, 100%, 75%, 0.1);
    border: .2em dotted #FF8080;
}

.sol.warning {
    background-color: hsla(59, 56%, 78%, 0.5);
    border: .2em dotted #ffbd01;
}

#ghostbar {
    width: 1px;
    background-color: red;
    opacity: 0.5;
    position: absolute;
    cursor: col-resize;
    z-index: 9999;
    top: 0;
    bottom: 0;
}

#dragbar {
    background-color: transparent;
    position: absolute;
    width: 0.5em;
    right: -3px;
    top: 3em;
    bottom: 0;
    cursor: col-resize;
    z-index: 999;
    border-right: 2px solid hsla(215, 81%, 79%, .3);
}

#editor .ace-tm .ace_gutter,
#editor .ace-tm .ace_gutter-active-line,
#editor .ace-tm .ace_marker-layer .ace_active-line {
    background-color: rgba(225, 229, 251, 0.5);
}

input[readonly] {
    display: block;
    width: 100%;
    height: 7px;
    padding: .8em;
}

input[type="file"] {
    display: none;
}

.highlightcode {
    position:absolute;
    z-index:20;
    background-color:#F77E79;
}

.highlightcode_fullLine {
    position:absolute;
    z-index:20;
    background-color:#F4B9B7;
    opacity: 0.5;
}

.ace_gutter-cell.ace_breakpoint{
    background-color: #F77E79;
}
