#files .file {
    padding: 0 0.6em;
    box-sizing: border-box;
    background-color: hsla(229, 100%, 97%, 1); /* backgroundBlue in style-guide.js */
    cursor: pointer;
    border-right: 0.5em solid white;
    position: relative;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    color: hsla(0, 0%, 40%, 1); /* grey in style-guide.js */
}

#files .file.active {
    color: black;
    font-weight: bold;
    border-bottom: 0 none;
    padding-right: 2em;
}
#files .file .remove {
    position: absolute;
    right: 0;
    top: 0;
    height: 1.25em;
    width: 1.25em;
    line-height: 1em;
    color: hsla(0, 82%, 82%, 1); /* red in style-guide.js */
    display: none;
    margin: 0.4em;
    text-align: center;
}

#files .file input {
    background-color: transparent;
    border: 0 none;
    border-bottom: 1px dotted black;
    line-height: 1em;
    margin: 0.5em 0;
}

#files .file.active .remove {
    display: inline-block;
}

#righthand-panel {
    top: 0;
    right: 0;
    bottom: 0;
    box-sizing: border-box;
    overflow: hidden;
}

#righthand-panel {
    display: flex;
    flex-direction: column;
}

#righthand-panel #solIcon {
    float: right;
    height: 90%;
    background-color: white;
    padding-right: 5%;
    padding-left: 5%;
}

#righthand-panel #menu {
    border-bottom: 3px solid hsla(229, 100%, 97%, 1); /* backgroundBlue in style-guide.js*/
    height: 2em;
    font-size: 1em;
    padding-top: 0.5em;
    box-sizing: content-box;
    display: flex;
}

#righthand-panel #options {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

#righthand-panel #options li.active {
    background-color: hsla(229, 100%, 97%, 1); /* backgroundBlue in style-guide.js*/;
}

#righthand-panel #options li a {
    color: inherit;
}

#righthand-panel #optionViews {
    background-color: hsla(229, 100%, 97%, 1); /* backgroundBlue in style-guide.js*/;
    overflow: scroll;
    height: 100%;
}

#righthand-panel #optionViews > div {
    display: none;
}

#righthand-panel #optionViews.txView #txView {
    display: block;
}

#righthand-panel #optionViews.settingsView #settingsView {
    display: block;
}

#righthand-panel #optionViews.publishView #publishView {
    display: block;
}

#righthand-panel #optionViews.compileView #compileTabView {
    display: block;
}

#righthand-panel #optionViews.runView #runTabView {
    display: block;
}

#righthand-panel #optionViews.debugView #debugView {
    display: block;
}

#righthand-panel #optionViews.verificationView #verificationView {
    display: block;
}

#righthand-panel #optionViews.staticanalysisView #staticanalysisView {
    display: block;
}

#header #optionViews.supportView #supportView {
    display: block;
}

#header #optionViews.txView input,
#header #optionViews.txView select {
    max-width: 13em;
    padding: 0.3em;
    box-sizing: border-box;
    border: 1px solid hsl(0, 0%, 0%); /* black in style-guide.js */
    border-radius: 3px;
}

#righthand-panel #optionViews .pre {
    word-wrap: break-word;
    background-color: hsl(0, 0%, 100%); /* white in style-guide.js */
    border-radius: 3px;
    display: inline-block;
    padding: 0 0.6em;
}

#righthand-panel #optionViews .hide {
    display: none;
}

#righthand-panel .info {
    min-height: 6em;
    padding: 0.25em 0;
    padding-left: 6em;
}

#settingsView button {
    background-color: hsla(229, 75%, 87%, .5); /* lightBlue in style-guide.js*/
    font-size: 12px;
    padding: 0.25em;
    margin: 3em 1em .5em 0;
    color: black;
    border:0 none;
    border-radius: 3px;
    width: 8em;
    cursor: pointer;
}

#debugView button {
    background-color: hsla(229, 75%, 87%, .5); /* lightBlue in style-guide.js*/
    font-size: 12px;
    padding: 0.25em;
    margin-bottom: .5em;
    color: black;
    border:0 none;
    border-radius: 3px;
    width: 8em;
    margin-right: 1em;
    cursor: pointer;
}

#header .origin {
    display: block;
    word-wrap: break-word;
    padding: 1.5em;
    font-weight: bold;
}

.contract.hidesub {
    padding-bottom: 0;
    margin: 0;
}

.contract.hidesub > *:not(.title) {
    display: none;
}

.contract.hidesub > .title:before {
    content: "\25B6";
}

#output .udapp {
    border: 0 none;
    box-shadow: none;
    border-bottom: 3px solid hsla(229, 100%, 97%, 1); /* backgroundBlue in style-guide.js*/;
}

.crow {
    overflow: auto;
    display: block;
    clear: both;
    margin: .5em .5em 0 .5em;
    padding: .5em;
    font-weight: bold;
}

.crow #txorigin {
    margin-left: 0.5em;
    text-decoration: none;
    background-color: hsla(229, 75%, 87%, .5); /* lightBlue in style-guide.js*/
    cursor: pointer;
    font-size: 12px;
    color: black;
    border-radius: 3px;
    border: 0 none;
}

.contractDetails button {
    background-color: transparent;
    border: 0 none;
    padding: 0;
    display: inline-block;
    text-decoration: underline;
    color: blue;
    cursor: pointer;
    width: auto;
    min-width: 4em;
    margin-bottom: 1em;
}

.sol.success,
.sol.error,
.sol.warning {
    word-wrap: break-word;
    cursor: pointer;
    position: relative;
    margin: 0.5em 0 1em 0;
    border-radius: 5px;
    line-height: 20px;
    padding: 8px 15px;
}

.sol.success pre,
.sol.error pre,
.sol.warning pre {
    background-color: transparent;
    margin: 0;
    font-size: 12px;
    border: 0 none;
    padding: 0;
    border-radius: 0;
}

.sol.success .close,
.sol.error .close,
.sol.warning .close {
    font-weight: bold;
    position: absolute;
    color: hsl(0, 0%, 0%); /* black in style-guide.js */
    top: 0;
    right: 0;
    padding: 0.5em;
}

.sol.error {
    background-color: hsla(0, 82%, 82%, 0.1);
    border: .2em dotted hsla(0, 82%, 82%, 1); /* red in style-guide.js */
}

.sol.warning {
    background-color: hsla(59, 56%, 78%, 0.5);
    border: .2em dotted hsla(44, 100%, 50%, 1); /* orange in style-guide.js */
}

.sol.success {
    background-color: hsla(141, 58%, 95%, 1);
    border: .2em dotted hsla(141, 40%, 48%, 1);
}

#ghostbar {
    width: 1px;
    background-color: hsla(0, 82%, 82%, 1); /* orange in style-guide.js */
    opacity: 0.5;
    position: absolute;
    cursor: col-resize;
    z-index: 9999;
    top: 0;
    bottom: 0;
}

input[readonly] {
    display: block;
    width: 100%;
    height: 7px;
    padding: .8em;
}

input[type="file"] {
    display: none;
}

.highlightcode {
    position:absolute;
    z-index:20;
    background-color:hsla(0, 82%, 82%, 1); /* red in style-guide.js */
}

.highlightcode_fullLine {
    position:absolute;
    z-index:20;
    background-color: hsla(0, 82%, 82%, .5); /* lightRed in style-guide.js */ ;
    opacity: 0.5;
}

.ace_gutter-cell.ace_breakpoint{
    background-color: hsla(0, 82%, 82%, 1); // red in style-guide.js
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 6; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: hsla(0, 0%, 0%, 1); /* Fallback color */
    background-color: hsla(0, 0%, 0%, .4); /* Black w/ opacity */
}

/* Modal Header */
.modal-header {
    padding: 2px 16px;
    background-color: hsla(59, 56%, 78%, 0.5);
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    color: white;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

/* Modal Body */
.modal-body {padding: 2px 16px;}

/* Modal Footer */
.modal-footer {
    padding: 2px 16px;
    background-color: hsla(59, 56%, 78%, 0.5);
    color: black;
    display: flex;
    justify-content: flex-end;
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: hsl(0, 0%, 100%); /* white in style-guide.js */
    margin: auto;
    padding: 0;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
}

#modal-footer-cancel {
    margin-left: 1em;
    cursor: pointer;
}

#modal-footer-ok {
    cursor: pointer;
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}
