.udapp {
	position: relative;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
	box-sizing: border-box;
	overflow: auto;
}

.udapp a,
.udapp .caveat {
	color: #7A7AE2;
}

.udapp a:visited {
	color: #7A7AE2;
}

.udapp button,
.udapp-setup textarea,
.udapp-setup button {
	display: block;
	width: 100%;
	padding: 0.6em;
	box-sizing: border-box;
	border: 1px solid rgba(0, 0, 0, 0.3);
	border-radius: 3px;
}

.udapp-setup textarea {
	border-radius: 0;
	margin-bottom: 1em;
	height: 7em;
}

.udapp-setup button {
	background-color: #556DF3;
	border-color: #556DF3;
	color: white;
	cursor: pointer;
}

.udapp .contract {
	clear: both;
}

.udapp .create {
	overflow: auto;
	margin: 1em;
}

.udapp .output {
	padding: 1em;
	clear: both;
	word-wrap: break-word;
}

.udapp .constructor > .output {
	padding-right: 1em;
}

.udapp .output .error {
	color: red;
}

.udapp .output .result {
	position: relative;
	margin-bottom: 3.5em;
	white-space: pre;
}

.udapp .result {
	position: relative;
}

.udapp .output .result .returned,
.udapp .output .result .value,
.udapp .output .result .waiting,
.udapp .output .result .gasUsed {
	padding-right: 2em;
	word-wrap: break-word;
}

.udapp .output .result .debugTx {
	height: 1.5em;
	width: 2.5em;
	margin-top: 1em;
}

.udapp .output .result:last-child {
	margin: 0;
}

.udapp .output:empty {
	display: none;
}

.udapp .instance {
	padding: 0.4em;
	background-color: rgb(244, 246, 255);
	margin-bottom: 1em;
	position: relative;
}

.udapp .instance:last-child {
	margin-bottom: 0;
}

.udapp .instance .title {
	content: "\25BC";
	cursor: pointer;
}

.udapp .instance.hidesub .title {
	margin-bottom: 0;
	padding-right: 1.5em;
	word-wrap: break-word;
}

.udapp .instance .title:before {
	content: "\25BC";
	opacity: 0.5;
	margin-right: 0.4em;
	font-size: 10px;
	margin-top: 0.2em;
}

.udapp .instance.hidesub > *:not(.title) {
	display: none;
}

.udapp .instance.hidesub > .title:before {
	content: "\25B6";
}

#runTabView .contractProperty {
	overflow: auto;
	margin-bottom: 0.4em;
}

.udapp input,
.udapp button {
	width: 20%;
	display: block;
	float: left;
	padding: 0.25em;
}

.udapp button:disabled {
	cursor: not-allowed;
	background-color: white;
	border-color: lightgray;
}

.udapp .atAddress {
	background-color: hsla(141, 58%, 95%, .5);
	border-color: hsla(141, 58%, 95%, .5);
	margin-right: 1em;
	border-radius: 3px;
}

.udapp button {
	padding: .36em;
	color: hsla(0, 0%, 40%, 1);
	cursor: pointer;
	overflow: hidden;
	text-overflow: ellipsis;
}

.udapp .instance input,
.udapp .instance button {
	width: 25%;
	float: left;
	box-sizing: border-box;
}

#runTabView .contractProperty.hasArgs input {
	width: 75%;
	padding: .36em;
}
#runTabView .contractProperty button {
	border-radius           : 3px;
	border                  : .3px solid #dddddd;
	cursor                  : pointer;
	min-height              : 25px;
	max-height              : 25px;
	padding                 : 3px;
	min-width               : 100px;
	width                   : 25%;
	font-size               : 10px;
}

#runTabView .contractProperty button.debug {
	width: 12em;
}

#runTabView .contractProperty button:disabled {
	cursor: not-allowed;
	background-color: white;
	border-color: lightgray;
}

#runTabView .contractProperty .call {
	background-color: hsla(0, 82%, 82%, .5);  /* lightRed in style-guide.js */
	border-color: hsla(0, 82%, 82%, .5);  /* lightRed in style-guide.js */
}

#runTabView .contractProperty .debug {
	background-color: hsla(229, 75%, 87%, .5);  /* lightBlue in style-guide.js */
	border-color: hsla(229, 75%, 87%, .5);  /* lightBlue in style-guide.js */
}

#runTabView .contractProperty.constant .call {
	background-color: hsla(229, 75%, 87%, .5);  /* lightBlue in style-guide.js */
	border-color: hsla(229, 75%, 87%, .5);  /* lightBlue in style-guide.js */
	width: 25%;
	outline: none;
}

#runTabView .contractProperty.payable .call {
	background-color: hsla(0, 82%, 82%, .5);  /* lightRed in style-guide.js */
	border-color: hsla(0, 82%, 82%, .5);  /* lightRed in style-guide.js */
	width: 25%;
}

#runTabView .contractProperty input {
	display: none;
}

#runTabView .contractProperty > .value {
	padding: 0 0.4em;
	box-sizing: border-box;
	width: 25%;
	float: left;
	word-wrap: break-word;
}

#runTabView .contractProperty.hasArgs input {
	display: block;
	border: 1px solid #dddddd;
	padding: .36em;
	border-left: none;
	padding: 8px 8px 8px 10px;
	font-size: 10px;
	height: 25px;
}

#runTabView .contractProperty.hasArgs button {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	border-right: 0;
}


.udapp .events:not(:empty):before {
	content: "Events";
	font-weight: bold;
	display: block;
	margin-bottom: 0.4em;
}

.udapp .events .event {
	padding: 0.4em;
	position: relative;
	word-wrap: break-word;
	padding-right: 3em;
	background-color: white;
	margin-bottom: 0.5em;
	white-space: pre;
}

.udapp .events .event .name {
	margin-right: 0.5em;
}
