.arrow-icon{
  width: 3px;
  display: inline-block;
}
.repo-importer-container {
  font-size: 0.825rem;
}

.repo-importer-container .btn,
.repo-importer-container .form-control {
  font-size: 0.75rem;
}

.repo-importer-container .form-control {
  padding: 0.375rem 0.75rem;
}

.panel-title {
  font-size: 0.875rem;
  font-weight: 600;
}

.repo-label {
  font-size: 0.625rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 0.3rem;
}

.repo-label .fa-question-circle {
  transform: translateY(1px);
}

.repo-importer-container .dropdown-item {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  font-size: 0.75rem;
}

.hr-themed {
  border-color: var(--bs-secondary);
  opacity: .25;
}