body {
    padding: 0px;
    font-size: 12px;
    color: #111111;
}
#editor {
    position: absolute;
    top: 0;
    left: 0px;
    width: auto;
    bottom: 0px;
    right: 37em;
}

#files {
    font-size: 15px;
    height: 2.5em;
    box-sizing: border-box;
    line-height: 2em;
    padding: 0.5em 0.5em 0;
}

#files .file,
#files .newFile {
    display: inline-block;
    padding: 0 0.6em;
    box-sizing: border-box;
    background-color: #f0f0f0;
    cursor: pointer;
    margin-right: 0.5em;
    position: relative;
}

#files .newFile {
    background-color: #B1EAC5;
    font-weight: bold;
    color: #4E775D;
}

#files .file.active {
    font-weight: bold;
    border-bottom: 0 none;
    padding-right: 2.5em;
}
#files .file .remove {
    position: absolute;
    right: 0;
    top: 0;
    height: 1.25em;
    width: 1.25em;
    line-height: 1em;
    border-radius: 1em;
    color: #FF8080;
    display: none;
    margin: 0.4em;
    text-align: center;
}

#files .file input {
    background-color: transparent;
    border: 0 none;
    border-bottom: 1px dotted black;
    line-height: 1em;
    margin: 0.5em 0;
}

#files .file.active .remove { display: inline-block; }

#input {
    font-size: 15px;
    position: absolute;
    top: 2.5em;
    left: 0;
    right: 0;
    bottom: 0;
    min-width: 20vw;
}

#righthand-panel {
    position: absolute;
    top: 0;
    width: 37em;
    max-width: 80vw;
    right: 0;
    bottom: 0px;
    overflow: auto;
    border-left: 1px dotted black;
    box-sizing: border-box;
}

#output {
    border-top: 1px dotted black;
    display: block;
}

#header {
    font-size: 14px;
    padding: 1em;
    font-size: 12px;
}

#header h1 {
    margin-top: 0;
}

#header .info { clear: left; }

#header #solIcon {
    float: left;
    height: 5em;
}

.col1 {
    width: 30%;
    float: left;
}
.col2 {
    width: 70%;
    float: left;
}

.row {
    overflow: auto;
}
.gethDeployText {
    border-color: #bebebe;
    height: 2.5em;
    width: 100%;
    display: block;
}

.contractInstance {
    background-color: #ccc;
    margin-bottom: 1em;
    padding: 0.6em;
}

.contractInstance.hide > *:not(.title) {
    display: none;
}


.contractInstance .contractProperty input,
.contractInstance .contractProperty button {
    text-align: left;
    padding: 0.3em;
    width: 50%;
    margin: 0;
}
.contractOutput .contractInstance .contractProperty {
    margin-bottom: 0;
}
.contractOutput .contractInstance .contractProperty .output {
    padding: 0.4em;
    background-color: #333;
    color: white;
    margin-bottom: 1em;
    display: block;
}
.contractInstance .contractProperty .output:empty { display: none; }

.contractOutput {
    border-bottom: 1px dotted black;
    padding: 0.6em;
    box-sizing: border-box;
}
.contractOutput .contractProperty {
    margin-bottom: 0.6em;
}
.contractOutput .contractProperty .output {
    display: inline;
}


.contractOutput .body {
    margin-top: 10px;
}

.contractOutput.hide {
    background-color: #4C4C67;
    color: white;
}

.contractOutput.hide > *:not(.title) {
    display: none;
}

.title {
    margin: 0;
    cursor: pointer;
    font-family: monospace;
    font-weight: bold;
}

.title:before {
    content: "\25BC";
    opacity: 0.5;
    margin-right: 0.4em;
    font-size: 10px;
}

.hide > .title:before {
    content: "\25B6";
}

.contractOutput > .title {
    border-bottom: #4C4C67;
}


.title .size {
    font-weight: normal;
    float: right;
}

.error {
    background-color: rgba(255, 0, 0, 0.5);
    border-radius: 0;
    word-wrap: break-word;
    border: 1px solid #D00909;
}

.warning {
    background-color: rgba(210, 202, 36, 0.5);
    border-radius: 0;
    word-wrap: break-word;
    border: 1px solid #D00909;
}

#ghostbar {
    width: 1px;
    background-color: red;
    opacity: 0.5;
    position: absolute;
    cursor: col-resize;
    z-index: 9999;
    top: 0;
    bottom: 0;
}

#dragbar{
    background-color: transparent;
    position: absolute;
    width: 5px;
    left: 0;
    top: 0;
    bottom: 0;
    cursor: col-resize;
    z-index: 999;
}


input[readonly] {
    padding: .4em;
    border: 1px solid #ccc;
    box-sizing: border-box;
    display: block;
    width: 100%;
}
