.dragbar_terminal {
  left: 0px;
  top: 0px;
  height: 0.3em;
}

.dragbar_terminal:hover,
.dragbar_terminal.ondrag {
  background-color: var(--secondary);
  cursor: row-resize;
}

.label_item {
  word-break: break-all;
  max-width: 90%;
}
.label_key {
  max-width: 65%;
  min-width: fit-content;
}
.label_value {
  min-width: 10%;
}


