.card {
  position: relative;
  border-radius: 0.75rem; 
}
.card-hover:hover {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}
@media (prefers-color-scheme: dark) {
  .card-hover:hover {
    box-shadow: 0 0.5rem 1rem rgba(255, 255, 255, 0.075) !important;
  }
}
.title-clamp-2{
  display:-webkit-box; -webkit-line-clamp:2; -webkit-box-orient:vertical; overflow:hidden;
  font-size: 1.05rem;
}
.subtitle-clamp-1{
  display:-webkit-box; -webkit-line-clamp:1; -webkit-box-orient:vertical; overflow:hidden;
  font-size: 0.8rem;
}
.body-clamp-4{
  display:-webkit-box; -webkit-line-clamp:4; -webkit-box-orient:vertical; overflow:hidden;
  word-break: break-word;
  font-size: 0.875rem;
}
.antenna-bar{
  width: 4px;
  margin-right: 3px;
  border-radius: 2px;
  display: inline-block;
}
.antenna-bar:last-child{ margin-right: 0; }