.bottom-bar {
    display: flex;
    flex: 0 0 auto;
    align-items: center;
    padding: 4px 16px;
    background-color: var(--bs-light) !important;
    height: 32px;
    position: sticky;
    top: 0;
    z-index: 10;
}

.bottom-bar .explain-icon {
    width: 12px;
    height: 12px;
}
  
.bottom-bar .copilot-toggle {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 4px 8px;
    border-radius: 8px;
    height: 24px;
    line-height: 1; 
}

.bottom-bar .copilot-toggle span {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 12px;
    font-weight: 700;
    color: var(--text-muted);
    transition: color 0.3s;
}
  
.bottom-bar .copilot-toggle span.on {
    color: var(--text-bright);
}
  
.bottom-bar .switch {
    position: relative;
    display: inline-block;
    width: 18px;
    height: 10px;
}
  
.bottom-bar .switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
  
.bottom-bar .slider {
    position: absolute;
    cursor: pointer;
    top: 0; left: 0; right: 0; bottom: 0;
    background-color: var(--bs-secondary);
    transition: .4s;
    border-radius: 800px;
    padding: 1px;
}
  
.bottom-bar .slider:before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    left: 1px;
    bottom: 1px;
    background-color: #222336; 
    transition: .4s;
    border-radius: 50%;
}
  
.bottom-bar .switch input:checked + .slider {
    background-color: var(--custom-ai-color);
}
  
.bottom-bar .switch input:checked + .slider:before {
    transform: translateX(8px);
}