{
  "presets": [
    ["@babel/preset-env", { "loose": true }],
    ["@babel/preset-react", { "runtime": "automatic" }],
    "@babel/preset-typescript",
    "@nx/react/babel"
  ],
  "plugins": [
  ],
  "ignore": ["**/node_modules/**"]
}