{
  "presets": ["@babel/preset-env", ["@nrwl/react/babel", 
    {"runtime": "automatic"}
  ]],
  "plugins": ["@babel/plugin-proposal-class-properties", "@babel/plugin-transform-runtime", "@babel/plugin-proposal-nullish-coalescing-operator"],
  "ignore": [
    "**/node_modules/**"
  ]
}
