{
    "env": {
        "browser": true,
        "es6": true
    },
    "extends": "../../.eslintrc.json",
    "globals": {
        "Atomics": "readonly",
        "SharedArrayBuffer": "readonly"
    },
    "parserOptions": {
        "ecmaVersion": 11,
        "sourceType": "module"
    },
    "rules": {
        "standard/no-callback-literal": "off",
        "@typescript-eslint/ban-ts-comment": "off",
        "@typescript-eslint/no-this-alias": "off",
        "@typescript-eslint/no-empty-function": "off",
        "eslint-disable-next-line no-empty": "off",
        "@nrwl/nx/enforce-module-boundaries": "off",
        "no-empty": "off",
        "jsx-a11y/anchor-is-valid": "off",
        "@typescript-eslint/no-inferrable-types": "off",
        "@typescript-eslint/no-non-null-assertion": "off",
        "@typescript-eslint/no-unused-vars": "off",
        "@typescript-eslint/no-explicit-any": "off",
        "react-hooks/exhaustive-deps": "off",
        "array-callback-return": "off",
        "prefer-spread": "off",
        "indent": ["error", 2]
    },
    "ignorePatterns": [
        "**/node_modules/**",
        "apps/remix-ide/src/assets/js/**/*.js"
    ]

}
