name: PRs reviews reminder

on:
  schedule:
    - cron: "0 8 * * 1-5"
    - cron: '55 8 * * 1-5'
  workflow_dispatch:

jobs:
  pr-reviews-reminder:
    runs-on: ubuntu-latest
    steps:
    - name: Reminder about PRs pending to review
      if: github.event.schedule == '0 8 * * 1-5'
      uses: Aniket-Engg/pr-reviews-reminder-action@master
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        webhook-url: ${{ secrets.DISCORD_WEBHOOK_URL }}
        freeze-date: '2025-07-21T18:00:00Z'
    - name: Reminder for standup
      if: github.event.schedule == '55 8 * * 1-5'
      uses: Aniket-Engg/pr-reviews-reminder-action@master
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        webhook-url: ${{ secrets.DISCORD_WEBHOOK_URL }}
