{ 
    "extends": "../../.eslintrc", 
    "rules": {
        "standard/no-callback-literal": "off",
        "no-unused-vars": "off",
        "dot-notation": "off",
        "no-use-before-define": "off"
    }, 
    "env": {
        "browser": true,
        "amd": true,
        "node": true,
        "es6": true
    },
    "ignorePatterns": ["!**/*"] 
}